{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_title %} Dashboard | Get Quick Loan at Best Time Capital {% endblock dashboard_title %}

{% block dashboard_content %}

<main>
    <div class="container-fluid px-4" ng-app="myApp" ng-controller="myCtrl">
        <h3 class="mt-4"></h3>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                <li class="breadcrumb-item active">My Account</li>
            </ol>
        
        <div class="card mb-4">           

        {% if userprofile.is_employer %}

        Is Admin

            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                All Applications List
            </div>

                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Applicant</th>
                                <th>Loan Applied</th>
                                <th>Email Address</th>
                                <th>Phone No.</th>
                                <th>National ID</th>
                                <th>Amount App.</th>
                                <th>Applied On</th>
                                <th>Due Date</th>
                                <th>Amount Due</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Applicant</th>
                                <th>Loan Applied</th>
                                <th>Email Address</th>
                                <th>Phone No.</th>
                                <th>National ID</th>
                                <th>Amount App.</th>
                                <th>Applied On</th>
                                <th>Due Date</th>
                                <th>Amount Due</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            {% for application in applications %}
                            <tr>
                                <td><a style="text-decoration: none;" href="{% url 'loan_application_review' application.id %}">{{ application.created_by.first_name }} {{ application.created_by.last_name }}</a></td>
                                <td>{{ application.loan.loan_title }}</td>
                                <td>{{ application.created_by.email_id }}</td>
                                <td>{{ application.created_by.phone_no }}</td>
                                <td>{{ application.created_by.id_no }}</td>
                                <td>{{ application.amount_applied }}</td>
                                <td>{{ application.created_at | date }}</td>
                                <td>TBD</td>
                                <td>{{ application.total_applied }}</td>
                                <td>{{ application.status }}</td>
                            {% empty %}
                                    <p>You haven't listed any loans yet</p>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        
        {% else %}








        Is Applicant
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            My Applications
        </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Loan Title</th>
                                <th>Loan Amount</th>
                                <th>Date Applied</th>
                                <th>Duration</th>
                                <th>Due Date</th>
                                <th>Amount Due</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Loan Title</th>
                                <th>Loan Amount</th>
                                <th>Date Applied</th>
                                <th>Duration</th>
                                <th>Due Date</th>
                                <th>Amount Due</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody >
                            {% for application in applications %}
                            <tr>
                                    <td>{{ application.loan.loan_title }}</td>
                                    <td>{{ application.amount_applied }}</td>
                                    <td>{{ application.created_at | date }}</td>

                                    <td>{{ application.period_applied }}</td>
                                    <td>{{ application.cal_date }} </td>
                                    <td> {{ application.total_applied }} </td>
                                    
                                    <td>{{ application.status }}</td>
                                {% empty %}
                                    <p>You don't have any loan applications yet</p>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        {% endif %}


        </div>
    </div>
</main>


{% endblock dashboard_content %}