{% extends "base_dashboard.html" %}
{% load static %}
{% block title %} Dashboard - JOB BOARD {% endblock %}

{% block dashboard_content %}

<main>
    <div class="container-fluid px-4" ng-app="myApp" ng-controller="myCtrl">
        <h3 class="mt-4"></h3>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                <li class="breadcrumb-item active">My Account</li>
            </ol>
        
        <div class="card mb-4">           

        {% if userprofile.is_employer %}

        Is Admin

            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                All Applications List
            </div>

                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Applicant</th>
                                <th>Loan Applied</th>
                                <th>Amount Applied</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Applicant</th>
                                <th>Loan Applied</th>
                                <th>Amount Applied</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            {% for application in applications %}
                            <tr>
                                <td><a style="text-decoration: none;" href="">{{ application.created_by.first_name }} {{ application.created_by.last_name }}</a></td>
                                <td>{{ application.loan.loan_title }}%</td>
                                <td>{{ application.amount_applied }}</td>
                            {% empty %}
                                    <p>You haven't listed any loans yet</p>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        
        {% else %}








        Is Applicant
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            My Applications
        </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Loan Title</th>
                                <th>Loan Amount</th>
                                <th>Date Applied</th>
                                <th>Duration</th>
                                <th>Total Owed</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Loan Title</th>
                                <th>Loan Amount</th>
                                <th>Date Applied</th>
                                <th>Duration</th>
                                <th>Total Owed</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody >
                            {% for application in request.user.applications.all %}
                            <tr>
                                    <td><a style="text-decoration: none;" href="">{{ application.loan.loan_title }}</a></td>
                                    <td>{{ application.amount_applied }}</td>
                                    <td>{{ application.created_at | date }}</td>

                                    <td>{{ application.period_applied }}</td>
                                    <td> TBD </td>
                                    
                                    <td>Reviewing</td>
                                {% empty %}
                                    <p>You don't have any loan applications yet</p>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        {% endif %}


        </div>
    </div>
</main>


<!-- <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.amount_applied= 1;
        $scope.monthly_interest= {{ application.loan.interest }};
        $scope.months= 1;
    });
</script> -->



{% endblock dashboard_content %}