{% extends "base.html" %}
{% load static %}
{% block title %} Login | Get Quick Loan at Best Time Capital {% endblock %}

{% block content %}

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta" style="margin-top: 70px; font-weight: 700;">
          <div class="container" data-aos="zoom-in">
    
            <div class="text-center">
              <h3 style="font-weight: 700; font-family: 'Poppins', sans-serif;">Login > Best Time Capital</h3>
              <!-- <p> </p> -->
            </div>
    
          </div>
        </section><!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg" style="padding-bottom: 100px; background-color: #f6f9fd;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <!-- <h2>Login</h2>
          <p>Login In Us</p> -->
        </div>

        <div class="row">

          <div class="col-lg-4">  </div>

        

          <div class="col-lg-4">

            <div class="card" style="padding: 15px 15px;">
              <div class="card-body">
            
            <form method="post" role="" class=""> {% csrf_token %}
              <!-- Username input -->
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="exampleFormControlInput1" placeholder="">
              </div>
            
              <!-- Password input -->
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleFormControlInput1" placeholder="">
              </div>
            
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
                  <a href="#!">Forgot password?</a> &nbsp;&nbsp;&nbsp;
                  <p>Not a member? <a href="{% url 'signup' %}">Register</a></p>
                </div>
                
              </div>
            
              <!-- Submit button -->
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
            
            </form>

          </div>
        </div>

          </div>

          <div class="col-lg-4">  </div>

        </div>

      </div>
    </section><!-- End Contact Section -->


{% endblock content %}