{% extends "base.html" %}
{% load static %}
{% block title %} Contact Us | Get Quick Loan at Best Time Capital {% endblock %}

{% block content %}

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta" style="margin-top: 70px; font-weight: 700;">
          <div class="container" data-aos="zoom-in">
    
            <div class="text-center">
              <h3 style="font-weight: 700; font-family: 'Poppins', sans-serif;">Contact Us > Best Time Capital</h3>
              <!-- <p> </p> -->
            </div>
    
          </div>
        </section><!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Biashara Plaza, Commercials Street, Thika Town</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@besttimecapital.co.ke</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>0712 345 678</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <form method="post" role="form" class="" action="" style="box-shadow: 0 0 30px rgba(214, 215, 216, 0.6); padding: 30px; background: #fff; ">

              <!-- <form method="post"  enctype="multipart/form-data"> -->
                {% csrf_token %}

              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              
              <br>
              
              <div class="text-center"><button type="submit" style="background: #ed502e; border: 0;  padding: 10px 30px;  border-radius: 4px; color: #fff;  transition: 0.4s;">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->


{% endblock content %}