{% extends "base.html" %}
{% load static %}
{% block title %} Home - Shylock Loans {% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 90vh;" >
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
        
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Amigo</span></h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#!" class="btn-get-started animate__animated animate__fadeInUp scrollto">APPLY NOW</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Hero -->


{% endblock content %}